@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root{
    --cor-background: #FFF8FA;
    --cor-titulo-principal: #5d2a42;
    --cor-subtitulo: #7a4b63;
    --cor-botao: #D9C6E8;

    --fonte-principal: "Playfair Display", serif; 
    --fonte-secundaria: "Lato", sans-serif; 
    --fonte-titulo: "Cormorant Upright", serif;
}

/* CONFIGURAÇÕES GERAIS */
body{
    background-color: var(--cor-background);
    text-align: center;
    box-sizing: border-box;
    margin: 5% 5%;
    padding: 0;
    line-height: 1.5;
}

.menu{
    color: var(--cor-titulo-principal);
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    text-decoration: none;
    display: flex;
    row-gap: normal;
    border-radius: 12px;
    gap: 15px;
    
}

/* TÍTULO PRINCIPAL */
.tituloPrincipal{
    color: var(--cor-titulo-principal);
    font-family: var(--fonte-titulo);
    font-size: 8rem;
    margin-top: 40px;
   
}

/* SUBTÍTULO */
.tituloPergunta{ 
    color: var(--cor-subtitulo);
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    margin-top: 30px;
    margin: 2em 0 2em 0;
   
}

/* TEXTO */
.tituloPergunta__texto{ 
    color: var(--cor-subtitulo);
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    margin: 30px auto;
    max-width: 5000px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 50px;
}

.tituloPergunta__texto p{
    text-align: justify;
    }

/*lista marcador*/
.ul{
    list-style-type: disc;
    color: var(--cor-subtitulo);
}

/* CONTAINER DOS BOTÕES */
.tituloPergunta__texto__botao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 40px auto;
}

/* BOTÕES */
.tituloPergunta__texto__botao a {
    background-color: var(--cor-botao);
    color: var(--cor-titulo-principal);
    font-family: var(--fonte-principal);
    font-size: 2.5rem;
    text-decoration: none;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}

/* HOVER DOS BOTÕES */
.tituloPergunta__texto__botao a:hover {
    background-color: var(--cor-titulo-principal);
    color: var(--cor-background);
    box-shadow: 0 0 30px rgba(93, 42, 66, 0.4);
}

/*PERSONAGENS */
.personagem{
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
    color: var(--cor-subtitulo);
    
}

/*textos ao lado das imagens*/
.personagem__texto{
    margin: 28px 0 8px 8px;
    line-height: 1.5;
    font-size: 1.8rem;
    align-items: center;
    
   
}

.nome-personagem{
    font-size: 4rem;
}

/*imagens*/
.img-1{ 
    max-width: 100%;
    height: auto;
    display: flex;
    flex-basis: 10%;
    border-radius: 4%;
}


/* RODAPÉ */
.rodape{
    background-color: var(--cor-titulo-principal);
    color: var(--cor-background);
    font-family: var(--fonte-secundaria);
    padding: 20px;
    margin-top: 248px;
}

/* Versão para telas menores
@media {
    .tituloPergunta__texto{
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 8px 0;
        
    }
} */