@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root{
    --cor-background: #FFF8FA;
    --cor-titulo-principal: #5d2a42;
    --cor-subtitulo:  #7a4b63;
    --cor-botao: #D9C6E8;
    --fonte-principal: "Playfair Display", serif; 
    --fonte-secundária: "Lato", sans-serif; 
    --fonte-titulo: "Cormorant Upright", serif;
  
}
  



body{
    background-color: var(--cor-background);
    box-sizing: border-box;
    text-align: center;
}

.tituloPrincipal{
    color: var(--cor-titulo-principal);
    font-family: "Cormorant Upright", serif;
    font-size: 8rem;
    
}

.tituloPergunta{ 
    color: var(--cor-subtitulo);
    font-family: var(--fonte-secundária);
    font-size: 4rem;
}

.tituloPergunta__resposta{ 
    color: var(--cor-subtitulo);
    font-family: var(--fonte-secundária);
    font-size: 2rem;
    margin: 25px 150px 75px 150px ;
  
}

.tituloPergunta__resposta__botao{ 
    font-family: var(--fonte-principal);
    color: #5d2a42;
    font-size: 4rem;
    background-color:var(--cor-botao);
    padding: 12px 28px;
    border: 1px;
    border-radius: 12px;
    box-shadow: var(--cor-titulo-principal);
    width: 50%;
    display: block;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration-line: none;
    
    
}
.tituloPergunta__resposta__botao:hover{
    background-color: var(--cor-titulo-principal); color: var(--cor-background);
    box-shadow: #5d2a42;
}

.rodape{
    background-color: #5d2a42;
    color: #D9C6E8;
    font-family: var(--fonte-secundária);
    font-size: 1px;
}